@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Bold.eot');
  src: local('TT Lakes Bold'), local('TTLakes-Bold'),
      url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakes-Bold.woff') format('woff'),
      url('../fonts/TTLakes-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Medium.eot');
  src: local('TT Lakes Medium'), local('TTLakes-Medium'),
      url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakes-Medium.woff') format('woff'),
      url('../fonts/TTLakes-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Regular.eot');
  src: local('TT Lakes Regular'), local('TTLakes-Regular'),
      url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakes-Regular.woff') format('woff'),
      url('../fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}




html {
  box-sizing: border-box;
}

*,*:before,*:after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  background-color: #F8F8F8;
  min-width: 320px;
  margin: 0;
}

.header__container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #D9FFF5;
  background-color: #FFFFFF;
}

@media (min-width: 1120px) {
  .header__container {
    background-color: #F8F8F8;
    border: 0;
  }
}

.header__inner {
  min-height: 88px;
  display: flex;
  align-items: center;
}

@media (min-width: 1120px) {
  .header__inner {
    display: none;
  }
}

.button__menu {
  padding: 0;
  border: 0;
  background-color: white;
  margin: 0 16px;
}

@media (min-width: 768px) {
  .button__menu {
    margin-left: 24px;
    margin-right: 20px;
  }
}

.button__logo {
  background-color: white;
  border: 0;
  padding: 0;
  margin-right: 16px;
}

@media (min-width: 768px) {
  .button__logo {
    margin-right: 234px;
  }
}

.divided-one {
  width: 2px;
  height: 32px;
  background-color: #EAEAEA;
  margin-right: 20px;
}

@media (max-width: 320px) {
  .divided-one{
    display: none;
  }
}

.button__call {
  background-color: white;
  border: 0;
  padding: 0;
  margin-right: 16px;
}

@media (max-width: 320px) {
  .button__call{
    display: none;
  }
}

.button__chat {
  background-color: white;
  border: 0;
  padding: 0;
  margin-right: 16px;
}

@media (max-width: 320px) {
  .button__chat{
    display: none
  }
}

.button__profile {
  background-color: white;
  border: 0;
  padding: 0;
  margin-right: 20px;
}

@media (max-width: 320px) {
  .button__profile{
  display: none;
}
}

.divided-two {
  width: 2px;
  height: 32px;
  background-color: #EAEAEA;
  margin-right: 20px;
}
.repair {
  display: flex;
}

@media (min-width: 1120px) {
  .repair {
    flex-shrink: 0;
    align-items: center;
    position: absolute;
    width: 173px;
    height: 40px;
    left: 716px;
    top: 42px;
  }
}

.button__repair {
  background-color: white;
  border: 0;
  padding: 0;
  margin-right: 16px;
}

@media (min-width: 1120px) {
  .button__repair {
    margin: 0 0 0 8px;
    background-color: #F8F8F8;
  }
}

.repair__inscription {
  font-family: 'TT Lakes';
  font-style: Medium;  
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  vertical-align: top;
  letter-spacing: -0.2px;
}

@media (max-width: 320px) {
  .repair__inscription {
    display: none;
  }
}

@media (min-width: 768px) {
  .repair__inscription {
    display: none;
  }
}

@media (min-width: 1120px) {
  .repair__inscription {
    display: contents;
  }
}

.checkstatus {
  display: flex;
}

@media (min-width: 1120px) {
  .checkstatus {
    flex-shrink: 0;
    align-items: center;
    position: absolute;
    width: 168px;
    height: 40px;
    right: 32px;
    left: 921px;
    top: 42px;
  }
}

.button__checkstatus {
  background-color: white;
  border: 0;
  padding: 0;
  margin-right: 16px;
}

@media (min-width: 768px) {
  .button__checkstatus {
    margin-right: 40px;
  }
}

@media (min-width: 1120px) {
  .button__checkstatus {
    margin: 0 0 0 9px;
    background-color: #F8F8F8;
  }
}

.checkstatus__inscription {
  font-family: 'TT Lakes';
  font-style: Medium;  
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  vertical-align: top;
  letter-spacing: -0.2px;
}

@media (max-width: 320px) {
  .checkstatus__inscription {
    display: none;
  }
}

@media (min-width: 768px) {
  .checkstatus__inscription {
    display: none;
  }
}

@media (min-width: 1120px) {
  .checkstatus__inscription {
    display: contents;
    margin: 0 9px 0 0;
  }
}

.title {
  display: flex;
}

.title__highlight {
  width: 4px;
  height: 40px;
  margin-top: 24px;
  border-radius: 0 20px 20px 0;
  background-color: #41F6D7;
}

@media (min-width: 1120px) {
  .title__highlight {
    margin-top: 42px;
  }
}

.title__inner {
  margin: 24px 16px 24px 12px;
  font-family: 'TT Lakes';
  font-style: Bold;
  font-size: 28px;
  line-height: 40px;
  text-align: left;
  vertical-align: top;
  letter-spacing: -0.6px;
}

@media (min-width: 768px) {
  .title__inner {
    margin: 24px auto 32px 24px;
  }
}

@media (min-width: 1120px) {
  .title__inner {
    margin: 42px auto 8px 32px;
  }
}

.slider {
  display: flex;
  overflow: hidden;
  list-style-type: none;
}

.slider__inner {
  display: flex;
  flex-basis: content;
  flex-shrink: 0;
  align-items: baseline;
  column-gap: 24px;
  overflow: auto;
  list-style-type: none;
  margin: 0 auto 24px 16px;
  padding: 0;
}

@media (min-width: 768px) {
  .slider__inner {
    margin: 0 auto 32px 24px;
  }
}

@media (min-width: 1120px) {
  .slider__inner {
    margin: 0 auto 14px 32px;
  }
}

.slider__element1 {
  border: 2px solid #B8FFEC;
  border-radius: 6px;
  background-color: #FFFFFF;
  padding: 8px 9px 8px 16px;
  font-family: 'TT Lakes';
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #7E7E82;
}

@media (min-width: 1120px) {
  .slider__element2 {
    display: none;
  }
}

.slider__element2,.slider__element3, 
.slider__element4,.slider__element5, 
.slider__element6  {
  background-color: #F8F8F8;
  padding: 0;
  border: 0 solid #F8F8F8;
  font-family: 'TT Lakes';
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #7E7E82;
}

@media (min-width: 768px) {
  .slider__element3 {
    display: none;
  }
}

@media (min-width: 1120px) {
  .slider__element3 {
    display: contents;
  }
}

@media (min-width: 768px) {
  .slider__element5 {
    display: none;
  }
}

@media (min-width: 1120px) {
  .slider__element5 {
    display: contents;
  }
}

.container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    margin: 0 25px 40px 24px;
  }
}

.text {
  display: flex;
  flex-direction: column;
}

.feedback {
  margin: 0;
}

@media (max-width: 320px) {
  .feedback {
    display: none;
  }
}

@media (min-width: 768px) {
  .feedback {
    display: none;
  }
}

@media (min-width: 1120px) {
  .feedback {
    display: contents;
  }
}

.feedback__btn {
  background-color: #F8F8F8;
  padding: 0;
  border: 0 solid #F8F8F8;
  font-family: 'TT Lakes';
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #7E7E82;
  width: 71px;
  height: 24px;
}

@media (min-width: 1120px) {
  .feedback__btn {
    margin: 0 auto 19px 32px;
  }
}

.text__block {
  overflow: hidden;
  margin: 0 16px 16px 16px;
  height: 90px;
  font-family: 'TT Lakes';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  letter-spacing: 0.2px
}

@media (min-width: 768px) {
  .text__block {
    width: 312px;
    height: 160px;
    margin: 0 49px 10px 0;
    line-height: 20px;
  }
}

@media (min-width: 1120px) {
  .text__block {
    overflow: visible;
    width: 490px;
    margin: 0 36px 13px 10px;
  }
}

.text__inner {
  margin: 0;
}

.text__spoiler {
  display: flex;
  align-items: center;
  margin: 0 auto 16px 16px;
}

@media (min-width: 768px) {
  .text__spoiler {
    margin: 0 auto 14px 0;
  }
}

.spoiler__image {
  margin: 0 16px 0 8px;
}

@media (min-width: 768px) {
  .spoiler__image {
    margin: 0 16px 0 9px ;
  }
}

@media (min-width: 1120px) {
  .spoiler__image {
    margin: 0 16px 0 8px ;
  }
}

.spoiler__btn {
  font-family: 'TT Lakes';
  color: #1B1C21;
  font-style: medium;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  vertical-align: top;
  letter-spacing: -0.2px;
  background-color: #F8F8F8;
  padding: 0;
  border: 0 solid #F8F8F8;
}

.signboard {
  margin: 0;
}

@media (min-width: 1120px) {
  .signboard {
    display: flex;
    align-items: center;
    width: 531px;
    height: 347px;
  }
}

.signboard__image {
  width: 320px;
  height: 176px;
  border-radius: 6px;
}

@media (min-width: 768px) {
  .signboard__image {
    margin: 0;
    width: 360px;
    height: 208px;
  }
}

@media (min-width: 1120px) {
  .signboard__image {
    width: 532px;
    height: 307px;
  }
}

