.benefits-content {
  min-width: 304px;
  min-height: 154px;
  background-color: #F8F8F8;
  padding-top: 24px;
  @media screen and (min-width: 768px) {
      max-width: 744px;
      padding-left: 8px;
  }
  @media screen and (min-width: 1120px) {
      min-width: 1088px;
      padding-left: 16px;
  }
  @media screen and (min-width: 1366px) {
      min-width: 1120px;
      padding-left: 16px;
  }
}

.benefits-content__mobile {
  padding-left: 0;
  @media screen and (min-width: 768px) {
      display: none;
  }
}