.first-container {
	margin: 0 auto;
    @media screen and (min-width: 768px) {
		padding: 0 24px;
	}
    @media screen and (min-width: 1120px) {
		max-width: 1052px;
		padding: 0 34px;
		margin: 0;
	}
}
