.header-nav__logo {
	display: flex;
	background-image: url(../img/header/logo.svg);
	background-repeat: no-repeat;
	width: 99px;
    height: 53px;
    @media screen and (min-width: 768px) {
	margin-right: auto;	
	margin-left: 20px;
	//flex-grow: 2;
	}
}