
@import 'normalize.scss';
@import 'body.scss';
@import 'firstContainer.scss';
@import 'headerNav.scss';
@import 'modalButton.scss';
@import 'headerNavLogo.scss';
@import 'services.scss';
@import 'breadcrumps.scss';
@import 'sectionContent.scss';
@import 'contentText.scss';
@import 'readMoreBtn.scss';
@import 'contentImg.scss';
@import 'headerSection.scss';
@import 'benefitsContent.scss';
@import 'benefits.scss';
@import 'swiperWrapper.scss';
@import 'item.scss';
@import 'controlBtn.scss';
@import 'modalShow.scss';
@import 'swiperPagination.scss';
@import 'burgerMenu.scss';
@import 'mainList.scss';
@import 'mainItem.scss';
@import 'sectionFooter.scss';
@import 'modalBtn.scss';
@import 'burgerMenuNav.scss';
@import 'contactsMail.scss';
@import 'contactsTel.scss';
@import 'language.scss';
@import 'table.scss';
@import 'row.scss';
@import 'cell.scss';
@import 'cellBtn.scss';
@import 'cellText.scss';
@import 'tableHead.scss';
@import 'inf.scss';
@import 'footer.scss';
@import 'metaData.scss';
@import 'feedbackWrapper.scss';
@import 'form.scss';
@import 'feedbackCall.scss';
@import 'headerContainer.scss';
@import 'swiper-slideMobil.scss';
@import 'page.scss';
@import 'vars.scss';

@font-face {
  font-family: 'TT Lakes Regular';
  src: url('../fonts/TTLakes-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TT Lakes Medium';
  src: url('../fonts/TTLakes-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'TT Lakes Bold';
  src: url('../fonts/TTLakes-Bold.woff') format('woff');
  font-weight: Bold;
  font-style: normal;
}
