.swiper-wrapper {
  margin-left: 16px;
  @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
  }
  @media screen and (min-width: 1120px) {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 32px;
    max-width: 1120px;
    overflow: hidden;
    transition: height 1s ease;
  }
}