.table {
  display: none;
  margin-left: 24px;
  margin-bottom: 44px;
  @media screen and (min-width: 768px) {
      display: block;
      font-family:  'TT Lakes Regular';
      font-size: 14px;
      line-height: 18px;
      max-width: 720px;
      background-color: #fff;
      border-radius: 10px;
      margin: 0 auto 24px;

  }
  @media screen and (min-width: 1120px) {
      max-width: 1056px;
      margin: 0 auto 32px;
  }
}